@import url('https://fonts.googleapis.com/css?family=Noto Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
	--background-light: hsl(216deg 49% 45%);
	--background-dark: hsla(329, 20%, 24%, 1);
	
	--primary-light: hsl(216deg 41% 35%);
	--primary-dark: hsl(329deg 20% 24%);
	
	--font-light: white;
	--font-dark: hsla(329, 20%, 24%, 1);
	
	--accent-light: hsl(216deg 57% 26%);
	--accent-dark: hsla(329, 20%, 24%, 1);
	
	--card-background: hsla(216deg, 24%, 50%, 0.5);
	--card-foreground: hsl(216deg 71% 97%);
	
	--error: hsl(0deg 91% 63%);
	--success: hsl(144deg 29% 48%);
}

* {
	box-sizing: border-box;
	user-select: none;
}

h1, ol, ul, body, html {
	padding: 0;
	margin: 0;
}

html, body {
	background: linear-gradient(90deg, var(--background-light) 0%, var(--background-dark) 100%);
	color: var(--font-light);
	font-family: 'Noto sans';
	height: 100vh;
	width: 100vw;
}

#drawer {
	background: var(--primary-light);
	box-shadow: -10px 0px 20px 10px var(--primary-dark);
	height: 100vh;
	position: fixed;
}

	#drawer > ul {
		list-style-type: none;
		padding: 10px;
		display: grid;
		grid-gap: 10px;
	}
	
		li.drawer-option {
			background: var(--accent-light);
			border-radius: 5px;
			padding: 5px;
			display: flex;
			cursor: pointer;
			transition: all .5s ease;
		}		
			li.drawer-option:hover, li.drawer-option:active {
				background: var(--accent-dark);
			}
			
		li.selected-tab {
			background: var(--card-background);
		}
			li.drawer-option.selected-tab:hover, li.drawer-option.selected-tab:active {
				background: white;
				color: black;
			}

.card-primary {
	width: 100%;
    	height: 80vh;
    	margin: 0 auto;
    	border-radius: 20px;
	background: rgba(0,0,0,0.2);
    	box-shadow: 0px 0px 17px var(--card-background);
    	padding: 10px;
}

#content-container {
	position: fixed;
	height: 100vh;
	width: calc(100vw - 55px);
	margin-left: 55px;
	transition: all .5s ease-in-out;
}
	
	#content-container > div {
		height: 100%;
		width: 100%;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
		#content-container > div > h1 {
			margin-bottom: 10px;
		}
	
	#content-container.home {
		margin-top: 0;
	}
	#content-container.progress {
		margin-top: -100vh;
	}
	#content-container.calendar {
		margin-top: -200vh;
	}
	#content-container.settings {
		margin-top: -300vh;
	}
	#content-container.preview {
		margin-top: -400vh;
	}

#audio-container {
	display: none;
}

.select-list {
	display: grid;
	flex-direction: column;
	grid-gap: 5px;
	list-style-type: none;
}
	.select-list > li {
		align-items: center;
		background: var(--card-background);
		border-radius: 0.8em;
		color: var(--card-foreground);
		cursor: pointer;
		display: inline-flex;
		opacity: 0.4;
		padding: 0.3em;
		transition: all .3s ease;
	}
		.select-list > li span {
			flex: 1 1 auto;
			pointer-events: none;
		}
		.select-list > li time {
			background: var(--card-background);
			border-radius: 0.4em;
			margin-left: 0.8em;
			padding: 0.4em 1em;
			transition: all .3s ease;
			visibility: hidden;
			white-space: pre;
		}
			.select-list > li time:hover,
			.select-list > li time:active {
				background: var(--accent-dark);
				box-shadow: 0 0 0 1px rgba(100,100,100,0.3);
			}
		.select-list > li.selected {
			opacity: 1;
		}
			.select-list > li.selected time {
				visibility: visible;
			}

modal {
	position: fixed; 
	z-index: 99999;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.5);
	transition: all 2s ease;
	opacity: 1;
}
	modal.hidden {
		display: none;
		opacity: 0;
	}

	time-entry {
		justify-content: center;
		display: flex;
		margin-top: 5%;
		font-size: 36px;
	}
	
		time-entry > span {
			opacity: 0.7;
		}
	
		hour, minute, time-type {
			width: 65px;
			text-align: center;
		}
		
		hour.active, minute.active {
			background: var(--accent-dark);
			border-radius: 5px;
			box-shadow: inset 0px 0px 0px 1px white;
		}
		
	key-pad {
		padding-top: 25px;
		display: block;
	}
	
		key-pad > row {
			display: flex;
			justify-content: center;
			font-size: 32px;
		}
		
		row > key {
			width: 60px;
			border: 1px solid white;
			margin: 5px;
			border-radius: 5px;
			text-align: center;
			background: var(--card-background);
			cursor: pointer;
			transition: all .3s ease;
		}
			row > key:hover,
			row > key:active {
				background: var(--accent-dark);
			}

#capture-wrapper {
	position: relative;
	height: 100%;
}

	#video-capture, #img-capture, #canvas-capture {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 20px;
	}

setting-group {
	display: block;
	padding-bottom: 20px;
	padding-right: 10px;
}	

	setting-group > h2 {
		margin: 5px;
	}

#settings > div.card-primary {
	overflow: hidden;
    	padding-top: 5px;
    	padding-bottom: 5px;
    	padding-left: 15px;
    	padding-right: 15px;
}

	#settings > div.card-primary > .sub-container {
		overflow-y: scroll;
		height: 100%;
	}

setting {
	display: flex;
    flex-direction: column;
	background: var(--card-background);
	color: var(--card-foreground);
	opacity: 0.4;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
	transition: all .3s ease;
}
	
	setting.setting-toggle.enabled {
		transition: all .3s ease;
		opacity: 1;
	}
	
	setting > span {
		font-size: 12px;
	}
	
	setting-name {
		font-weight: 600;
		font-size: 14px;
	}
	
setting.setting-timespan {
	cursor: initial;
	opacity: 1;
}
	
	setting.setting-timespan > setting-name {
		display: inline-flex;
		flex-direction: row;
		align-self: flex-start;
		padding-top: 5px;
	}
	
	setting.setting-timespan > timespan {
		display: inline-flex;
		flex-direction: row;
		align-self: flex-end;
		margin-top: -25px;
	}
	
	setting.setting-timespan > timespan > interval-up,
	setting.setting-timespan > timespan > interval-down,
	setting.setting-timespan > timespan > interval {
		background: var(--card-background);
		border-radius: 5px;
		margin-left: 5px;
		margin-right: 5px;
		padding: 5px;
		cursor: pointer;
		transition: all .2s ease;
		font-size: 12px;
		text-align: center;
		display: flex;
	}
	
	
	setting.setting-timespan > timespan > span {
		width: 25px;
		align-self: center;
		text-align: center;
	}
	
	setting.setting-timespan > timespan > interval {
		width: 65px;
		align-self: center;
	}
	
	setting.setting-timespan > timespan > interval-up:hover,
	setting.setting-timespan > timespan > interval-down:hover,
	setting.setting-timespan > timespan > interval:hover {
		background: var(--accent-dark);
		transition: all .2s ease;
		box-shadow: 0px 0px 0px 1px rgba(100,100,100,0.3);
	}
	
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-clip: content-box;
    box-shadow: inset 0 0 100px rgba(200, 200, 200, 0.6);
    border-radius: 10px;
}

.hidden {
	opacity: 0 !important;
}