.viz-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	opacity: 1;
	padding: 0 !important;
	transition: ease 1s;
	visibility: visible;
	width: 100%;
}
	.viz-container > * {
		display: flex;
		gap: 2em;
		padding: 0.6em;
		position: relative;
	}

	.viz-container .graph-container {
		max-height: 33%;
	}
	.viz-container .events-container {
		align-items: flex-start;
		flex-grow: 1;
	}
	.viz-container .timeline-container {
		background: var(--background-dark-accent);
		color: var(--font-light);
	}

	.loading .viz-container {
		opacity: 0;
		visibility: hidden;
		transition: ease-in 3s;
	}
		.loading .viz-container svg {
			display: none;
		}

viz {
	display: flex;
	flex: 1 1 0;
	flex-flow: column;
	gap: 0.5em;
	white-space: pre;
}
	viz.ban {
		align-items: center;
		background: var(--background-light);
		flex-flow: row;
	}
		viz.ban::before {
			content: attr(data-value);
			padding: 0 0.5em;
			height: 100%;
			align-items: center;
			display: flex;
			border-radius: 0.3em;
			font-size: 1.5em;
		}
		viz.ban::after {
			content: attr(data-name);
			padding-left: 1em;
		}
	
	viz.donut::before {
		content: var(--data-name, ' ');
		text-align: center;
	}
	viz.donut svg circle {
		clip-path: circle();
		cx: 0.5;
		cy: 0.5;
		fill: none !important;
		r: 0.5;
		stroke: #00000010;
		stroke-width: 15%;
	}
		viz.donut svg circle:last-child {
			stroke-dasharray: calc(var(--data-current-int, 0) / var(--data-total-int, 1) * 3.14/2 + 3.14/2) 3.14;
			stroke-width: 15%;
			transform-origin: 50% 25%;
			transform: rotate(0deg);
		}
	viz.donut text {
		font-size: 0.5%;
		stroke-width: 0;
	}
		viz.donut text.actual {
			font-size: 1%;
			text-anchor: middle;
			transform: translate(50%, 70%);
		}
		viz.donut text.target {
			text-anchor: middle;
			opacity: 0.5;
			transform: translate(50%, 95%);
		}
	viz.donut[data-status=success] svg circle:last-child,
	viz.donut[data-status=success] svg text {
		fill: var(--viz-success);
		stroke: var(--viz-success);
	}
	viz.donut[data-status=process] svg circle:last-child,
	viz.donut[data-status=process] svg text {
		fill: var(--viz-process);
		stroke: var(--viz-process);
	}
	viz.donut[data-status=neutral] svg circle:last-child,
	viz.donut[data-status=neutral] svg text {
		fill: var(--viz-neutral);
		stroke: var(--viz-neutral);
	}

	viz.state,
	viz.clock {
		align-items: center;
		flex-flow: row;
		flex-grow: 0;
		font-size: 2em;
	}
		viz.state::before,
		viz.clock::before {
			content: attr(data-value);
		}
	viz.state.mismatch {
		color: var(--accent-light);
	}
	viz.state::after {
		content: attr(data-subtitle);
		font-size: 0.8em;
		opacity: 0.75;
	}

	viz.gantt {
		position: absolute;
		bottom: 0.6em;
		left: 0.6em;
		right: 0.6em;
		top: 0.6em;
	}
		viz.gantt svg {
			height: 100%;
			width: 100%;
		}
			viz.gantt svg line,
			viz.gantt svg path {
				opacity: 0.15 !important; 
			}
			viz.gantt svg g.yaxis text {
				font-size: 1.3em; 
			}
			viz.gantt svg rect.absent { 
				fill: transparent; rx: 1%; ry: 1%; 
			}
			viz.gantt svg rect.sitting { 
				fill: var(--viz-neutral); rx: 1%; ry: 1%;
			}
			viz.gantt svg rect.standing {
				fill: var(--viz-neutral); rx: 1%; ry: 1%; 
			}
